#calendar-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2.5em 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: inherit;
}

#calendar-wrapper header {
    grid-row: 1/2;
    font-size: 2em;
    box-sizing: inherit;
}

#calendar-wrapper header h4 {
    padding: 0;
    margin: 0;
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 3em 1fr;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#calendar #calendar-days,
#calendar #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0 1em;
    box-sizing: inherit;
    margin: 0;
}

#calendar #calendar-days {
    justify-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

#calendar #calendar-grid {
    grid-template-rows: repeat(6, 1fr);
    justify-items: flex-start;
    grid-row: 2/-1;
    grid-column: 1/2;
    width: 100%;
}

#calendar #calendar-grid > time {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.4em;
    padding: 1em 0.2em;
    width: 90%;
    background-color: rgba(108, 108, 108, 0.02);
    border-radius: 3px;
    border: 2px solid transparent;
    transition: box-shadow 200ms, border 100ms;
    box-shadow: 1px 1px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}

#calendar #calendar-grid time.selected,
#calendar #calendar-grid time.selected:focus {
    outline: none;
    border: 2px solid #c64949;
    box-sizing: inherit;
}

#calendar #calendar-grid time.disabled,
#calendar #calendar-grid time.disabled:focus {
    outline: none;
    border: 2px solid transparent;
    box-sizing: inherit;
    cursor: not-allowed;
    background-color: rgba(30, 39, 51, 0.2);
    box-shadow: 1px 1px rgba(0, 0, 0, 0);

}

#calendar #calendar-grid > *:hover {
    border: 2px solid rgba(72, 72, 72, 0.5);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}

#calendar #navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 2/-1;
    grid-column: 2/-1;
    box-sizing: inherit;
    padding: 1em 0 3.5em;
    margin: 0;
}

#calendar #navigation-wrapper button {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 3em;
    width: 1.6em;    
    box-sizing: inherit;
    padding: 0.1em;
    margin: 0;
}

#calendar #navigation-wrapper button:hover {
    opacity: 0.75;
}


#calendar #navigation-wrapper button svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.6em;
    display: block;
    box-sizing: inherit;
}

#calendar #navigation-wrapper button:first-of-type {
    transform: rotate(180deg);
}

#calendar #navigation-wrapper button[disabled] svg {
    cursor: not-allowed;
    fill: rgba(30, 39, 51, 0.2);
}
/*  */
body {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

#github {
    position: absolute;
    right: -5rem;
    top: 0.6rem;
    background-color: black;
    transform: rotate(25deg);

}

#github a,
#github a:link,
#github a:visited {
    display: inline-block;
    padding: 1rem 8rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 300ms;
}

#github a:hover {
    text-decoration: underline;
    transform: translateX(0.4rem);
}

#download-options {
    margin-bottom: 2rem;
}

#download-options h3:last-of-type {
    margin-top: 2rem;
}

#download-options code {
    font-size: 1.2rem;
}

#myCalendarWrapper {
    width: 40em;
    border: 1px dashed black;
    padding: 2em 4em;
    position: relative;
    font-size: 1rem;
    margin: 2rem auto 5rem;
}

#myCalendarWrapper:before {
    content: '#myCalendarWrapper';
    position: absolute;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2.4rem);
    font-size: 1.2rem;
    background-color: rgba(93, 93, 93, 0.2);
    padding: 0.5rem 1rem 0.4rem;
    color: rgb(233, 72, 99);
}

code {
    font-size: 0.7rem;
    background-color: rgb(249, 249, 249);
    padding: 0.5rem;
    margin: 1rem 0 3rem;
    border-radius: 5px;
    box-shadow: 2px 2px 0.2rem rgba(0, 0, 0, 0.2);
}

code h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

code pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pink {
    color: rgb(233, 72, 99);
}

#example {
    margin: 0 auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

#example h3:not(:first-of-type) {
    margin-top: 3rem;
}

#example p {
    font-size: 0.9rem;
}

#download-options {
    margin-bottom: 5rem;
}

#download-options h2:last-of-type {
    margin-top: 2rem;
}

#download-options code {
    font-size: 1.2rem;
}
