@import url(./reset.css);

@font-face {
  font-family: kopubBatang_bold;
  src: url(../font/KoPubWorld\ Batang_Pro\ Bold.otf);
  /* src: url(../font/KoPubWorld\ Batang_Pro\ Light.otf);
  src: url(../font/KoPubWorld\ Batang_Pro\ Medium.otf); */
}

@font-face {
  font-family: kopubBatang_Light;
  src: url(../font/KoPubWorld\ Batang_Pro\ Light.otf);
}

@font-face {
  font-family: kopubBatang_Medium;
  src: url(../font/KoPubWorld\ Batang_Pro\ Medium.otf);
}

@font-face {
  font-family: maitree;
  src: url(../font/Maitree/Maitree-Bold.ttf);
}

@font-face {
  font-family: Maitree_Light;
  src: url(../font/Maitree/Maitree-Light.ttf);
}
*{
  scroll-behavior: smooth;
}

main {
  width: 100%;
}

body {
  font-family: kopubBatang_Light;
  font-size: 16px;
  transition: .2 linear;
}

.title {
  font-family: maitree;
  font-size: 1.2rem;
  font-weight: 600;
}

header {
  width: 100%;
  margin-top: 3vh;
  /* position: fixed;
  top: 0;
  left: 0; */
  z-index: 99;
  font-size: 1.1rem;
  /* 헤더 마우스휠 내리면 사라지고 올리면 나타나게 */
  transition: .2s linear;
}

main header h1 span {
  font-size: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px)
}

header .h_inner {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_inner h1 {
  width: fit-content;
  height: fit-content;
  z-index: 9990;
}

.h_inner .menu {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-family: kopubBatang_bold;
}

.h_inner .menu>li {
  line-height: 35px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  position: relative;
  z-index: 99;
}

/* 밑줄 효과 */
.h_inner .menu>li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  transition: all 250ms ease-out;
  left: 50%;
  width: 0;
}

.h_inner .menu>li:not(:last-child):hover::after {
  transition: all 250ms ease-out;
  left: 0%;
  width: 100%;
}

.h_inner button {
  /* 예약하기버튼 */
  border: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: -25px;
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 30%);
  transform: rotate(-15deg);
  /* hover원래 각도로 */
}

.h_inner button:hover {
  transform: rotate(0deg);
  transition: .2s;
}

/* //header */
#nav-icon4 {
  width: 45px;
  height: 32px;
  margin-right: 2%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  z-index: 9990;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 29px;
  left: 8px;
}

/* //nav */
/* mouse */
.circle {
  border-radius: 100px;
  will-change: transform;
  position: absolute;
}

.circle--1 {
  height: 40px;
  width: 40px;
  border: solid rgba(255, 255, 255, 0.5) 3px;
}

.circle--2 {
  background: black;
  height: 6px;
  width: 6px;
  z-index: 2;
  background: rgb(168, 168, 168);
}

/* open menu */
.openbox {
  cursor: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  display: none;
}

.openbox .o_top {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openbox h1 {
  width: 200px;
  margin-left: 2%;
}

.openmenu {
  padding: 200px 0;
}

.openmenu ul {
  position: relative;
  width: 80%;
  margin: auto;
  z-index: 100;
}

.openmenu ul li {
  width: fit-content;
  font-size: 2rem;
  line-height: 80px;
  color: #fff;
}

.openmenu ul li a {
  cursor: none;
  display: block;
}

.openmenu ul li:hover {
  color: rgb(98, 98, 98);
  transition: .3s linear;
}



/* //header */
.mainbg{
  max-width: 1080px;
  margin: 0 auto;
}
.mainbg .title{
  font-family: kopubBatang_bold;
}
.mainbg .title ul{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.mainbg .title ul li{
    font-size: 1.2rem;
    float: left;
    margin: 0 10px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    z-index: 99;
    color: #adadad;
}
/* a밑줄 */

.mainbg .title ul .a{
  color: #000;
}
.mainbg .title ul .a:after {
  display: block;
  content: '';
  width: 70px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
}


/* b밑줄 */
.mainbg .title ul .b:after {
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.mainbg .title ul .b:hover:after {
  transform: scaleX(1);
}
.mainbg .title ul .b:hover{
  color: #000;
  transition: .5s;
}

/* //main */
.con1{
    width: 100%;
    margin-top: 10%;
}
.con1 .title h2{
    font-family: maitree;
    text-decoration: overline;
  text-decoration-thickness: 4px;
  font-size: 1.1rem;
  margin: 5% 0;
}    
.con2{
    width: 100%;
    margin: 10% 0;
}
.con2 .s_title{
    font-family: maitree;
}
.con2 ul{
    border-top: 1px solid #ddd;
}
.con2 ul li{
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.numberCont ul li .text {
    color: #333333;
    padding: 20px 200px 20px 20px;
}
.numberCont ul li .countBox{
    position: absolute;
    right: 10px;
    top: 60%;
    margin-top: -23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    padding: 0 0 0 10px;
    border: none;
    width: 100%;
    background: #dddddd;
}
.numberCont ul li .countBox .ip input {
    width: 60px;
    height: 30px;
    padding: 0;
    text-align: center;
}
.numberCont ul li .countBox .btn{
    margin-left: 5px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.numberCont ul li .countBox .btn img{
    width: 10px;
}
.con2 .total{
    width: 100%;
    margin-top: 2%;
}
.con2 .total p{
text-align: center;
}
.con2 .total p strong{
    font-weight: 900;
}
.centerBtn{
    width: 100%;
    margin-bottom: 10%;
}
.centerBtn button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: none;
    padding: 0 15px;
    font-size: 1.2rem;
    line-height: 45px;
    cursor: pointer;
    font-weight: 900;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative;
}


/* footer */

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
  }
  
  .f_inner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .f_inner .f_1st {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
  }
  
  .f_inner .f_1st .flogo {
    width: fit-content;
    height: fit-content;
  }
  
  .f_inner .f_1st .flogo img {
    width: 80%;
  }
  
  .f_inner .f_1st .f_menu {
    font-family: kopubBatang_bold;
    width: 50%;
  }
  
  .f_inner .f_1st .f_menu ul li {
    float: left;
    margin: 0 5%;
  }
  
  .f_inner .f_2nd {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
  
  .f_inner .text {
    font-size: .8rem;
    color: #adadad;
    line-height: 30px;
  }
  
  .f_inner .f_2nd .icon {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  
  .f_inner .f_2nd .icon a {
    display: block;
    width: 25%;
    margin: 0 3%;
  }
  
  .f_inner .copy {
    font-size: .7rem;
    margin-top: 25px;
    border-top: 1px solid #adadad;
  }
  
  .f_inner .copy span {
    display: block;
    font-size: .9rem;
    color: #adadad;
    line-height: 45px;
    float: right;
  }
  
/* tbtn */
.btnTop {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 80px;
  top: -100px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1.5px solid #000;
  background: #fff url(../img/btn_top.png) no-repeat center center;
  transition: all .3s ease;
  text-indent: -9999px;
}

@media screen and (max-width:1400px) {
  
  header .h_inner {
      max-width: 1200px;
      transition: .2s linear;
    }
  
    .h_inner button {
      /* 예약하기버튼 */
      width: 72px;
      height: 72px;
    }
  
    .f_inner {
      max-width: 1200px;
      transition: .2s linear;
    }
  
    .f_inner .f_1st .f_menu {
      font-family: kopubBatang_bold;
      width: 60%;
    }
    .btnTop {
      right: 20px;
    }
  }
  @media screen and (max-width:1200px) {
    header .h_inner {
      max-width: 1024px;
    }
  
    .h_inner .menu {
      width: 45%;
    }
   .f_inner {
      max-width: 1024px;
    }
  
    .f_inner .f_1st .f_menu {
      width: 65%;
    }
    .btnTop {
      top: -80px;
    }
    }
  
  @media screen and (max-width:1024px) {
    header .h_inner {
      max-width: 767px;
    }
  
    .h_inner .menu {
      width: 50%;
      margin-bottom: 1%;
    }
  
    .h_inner .menu>li {
      font-size: .95rem;
      margin-top: 25px;
    }
  
    .h_inner button {
      font-size: .8rem;
      width: 65px;
      height: 65px;
    }
  
    .f_inner {
      max-width: 767px;
    }
  
    .f_inner .f_1st .f_menu {
      width: 70%;
      font-size: .9rem;
      margin-left: 8%;
    }
  
    .f_inner .f_1st .f_menu ul li {
      margin: 0 3%;
    }
    .btnTop {
      top: -100px;
      right: 30px;
    }
  
  }
  @media screen and (max-width:767px) {
    header .h_inner {
      width: 90%;
      margin: 0 auto;
    }
  
    header .h_inner .menu {
      display: none;
    }
  
    #nav-icon4 {
      display: block;
    }
  
  
    .f_inner {
      width: 90%;
      margin: 0 auto;
    }
  
    .f_inner .f_1st {
      display: block;
    }
  
    .f_inner .f_1st .flogo img {
      width: 30%
    }
  
    .f_inner .f_1st .f_menu {
      margin-left: 0%;
      width: 100%;
    }
  
    .f_inner .f_1st .f_menu ul li {
      font-size: .9rem;
      margin: 3% 0;
      margin-right: 3%;
    }
  
    .f_inner .text {
      font-size: .7rem;
      color: #adadad;
      line-height: 25px;
    }
  
    .f_inner .copy span {
      display: block;
      font-size: .7rem;
      color: #575757;
      line-height: 45px;
      float: right;
    }
  
    .f_inner .f_2nd .icon {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  
    .f_inner .f_2nd .icon a {
      display: block;
      width: 20%;
      margin: 0 3px;
    }
  
    .btnTop {
      right: 20px;
      top: -100px;
      width: 50px;
      height: 50px;
    }
  
  
  }
  @media screen and (max-width:600px){
   .f_inner .f_1st .flogo img {
      width: 40%
    }
  }
  
  
  @media screen and (max-width:450px){
    .h_inner h1 a img {
      width: 80%;
    }
    .openmenu ul li {
      font-size: 1.5rem;
      line-height: 60px;
  }
    .f_inner .f_1st .flogo img {
      margin-left: 25%;
    }
  
    .f_inner .f_1st .f_menu {
      margin: auto;
    }
  
    .f_inner .f_1st .f_menu ul {
      display: flex;
      justify-content: space-evenly;
    }
  
  
    .f_inner .f_1st .f_menu ul li {
      font-size: .75rem;
      margin-top: 10%;
    }
  
    .f_inner .copy span {
      display: block;
      font-size: .7rem;
      color: #575757;
      line-height: 40px;
      float: right;
    }
  
    .f_inner .f_2nd {
      display: none;
    }
  
    .btnTop {
      right: 25px;
      top: 15px;
      width: 35px;
      height: 35px;
      border-radius: 0;
      box-shadow:none;
    }
  }
  

  
  